#main{
	width: 100%;
	background-color: #424242;
}
.main-1{
	width: calc(25% - 40px);
	padding: 20px;
	height: 100%;
	margin-top: 20px;
	float: left;
}
.main-1-con{
	margin-left: 70px;
}
img{
	width: 100%;
	height: 350px;
	object-fit: cover;
}
@media screen and (min-width: 320px) and (max-width: 768px){

	.main-1{
		width: 100%;
	}

}
@media screen and (min-width: 769px) and (max-width: 992px){
	.main-1{
		width: 45%;
	}
}
